{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Website Statis</title>
    <link rel="icon" href="{% static "prokom.png"%}">
    <link rel="stylesheet" href="{% static "modul3.css"%}">
</head>
<header>
    <a href="/">home</a>
</header>
<br><br>
<body>
    <div class="container">
        <h1>Website Statis dengan Django</h1>

        <h2>Website Statis</h2>
        <p>Website statis adalah website yang isinya statis atau tidak berubah. 
          Situs web statis ini seperti brosur. Perbedaannya adalah brosur dicetak dan 
          didistribusikan sementara situs web statis dikelola dan diakses melalui internet. 
          Sebagai aturan umum, setelah situs web statis aktif di Internet, situs web jarang 
          mengubah kontennya. Seringkali, situs web statis ini hanya terdiri dari HTML dengan 
          halaman hyperlink, tanpa pemrograman sisi server, karena tujuannya terbatas untuk menampilkan 
          informasi di Internet.</p>

        <h2>HTML (Hyper Text Markup Language)</h2>
        <p>HTML (Hyper Text Markup Language) merupakan sebuah bahasa markup atau bahasa formatting yang 
          paling dasar dalam pembangunan atau pembuatan sebuah halaman website. Bahasa Markup adalah 
          bahasa komputer yang berfungsi atau digunakan untuk menyusun, memformat, hingga mendefinisikan 
          berbagai teks dan simbol pada dokumen. </p>

        <h2>Kelebihan dari HTML</h2>
        <ul>
            <li>Mudah dipelajari dan digunakan.</li>
            <li>Memiliki banyak sumber dengan komunitas yang sangat besar dan penggunaannya luas.</li>
            <li>Dapat dijalankan di setiap web browser.</li>
            <li>Dapat dengan mudah diintegrasikan dengan bahasa pemrograman lainnya seperti PHP, Perl, JavaScript, VBScript dan lainnya.</li>
            <li>Mempunyai Bahasa Markup yang rapi dan konsisten.</li>
        </ul>

        <h2>Kekurangan dari HTML</h2>
        <ul>
            <li>Tidak dapat berdiri sendiri sebagai bahasa pemrograman web.</li>
            <li>Tidak memiliki kemampuan interaktif inheren. Interaktif sendiri maksudnya client bisa berinteraksi dengan server. Sehingga untuk mendapatkannya harus menyisipkan bahasa pemrograman yang bisa menangani masalah tersebut.</li>
            <li>Penggunaan tag yang banyak.</li>
            <li>Fitur baru tidak dapat dijalankan secara cepat di sebagian browser.</li>
        </ul>

        <h2>Django</h2>
        <p>Django adalah framework web Python yang telah mengukuhkan posisinya sebagai salah 
          satu alat yang paling efisien dan lengkap untuk pengembangan aplikasi web. Dengan kumpulan 
          fitur yang luas, Django menyediakan seperangkat alat yang mempercepat proses pembuatan 
          aplikasi web tanpa mengorbankan fleksibilitas dan kontrol. Salah satu keunggulan utama 
          Django adalah ORM (Object Relational Mapping) terpadu yang dimilikinya.</p>

        <h2>Contoh HTML & CSS</h2>
        <pre>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="modul3.css">
</head>
<body>
    <h1>Kelompok 15!</h1>
    <p>contoh website statis.</p>
</body>
</html>
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
        </pre>
    </div>

<footer class="footer">
  <h1 class="footer-title">PROKOM 2025</h1>
  <div class="footer-content">
    <div class="footer-column">
      <p><em>(Halaman)</em></p>
      <p><a href="/">Home</a></p>
      <p><a href="#expert">Hasil</a></p>
      <p><a href="#kontak">Profil</a></p>
      <p><a href="#saran">Saran</a></p>
    </div>
    <div class="footer-column">
      <p><em>(Aktivitas)</em></p>
      <p><a href="#praktikum">Praktikum</a></p>
      <p><a href="#praktikum">Modul</a></p>
    </div>
    <div class="footer-column">
      <p><em>(Halaman Utilitas)</em></p>
      <p><a href="#404">404</a></p>
    </div>
    <div class="footer-column">
      <p><em>(Sosial)</em></p>
      <p><a href="https://instagram.com" target="_blank">Instagram</a></p>
      <p><a href="https://linkedin.com" target="_blank">LinkedIn</a></p>
      <p><a href="https://youtube.com" target="_blank">YouTube</a></p>
      <p><a href="/">Website</a></p>
    </div>
  </div>
  <p style="text-align:center; margin-top: 30px;"><a href="/">Kembali ke home</a></p>
</footer>
</body>
</html>